@model Book_Web.Models.SearchAdvancedModel
@using System.ServiceModel;
@{
    ViewBag.Title = "SearchAdvanced";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tìm kiếm nâng cao</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
 

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Tìm kiếm nâng cao</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tensach)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tensach)
            @Html.ValidationMessageFor(model => model.Tensach)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaTheLoai)
        </div>
        <div class="editor-field">
         @Html.DropDownListFor(model => model.MaTheLoai,Model.ListTheLoai)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GiaTu)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GiaTu)
            @Html.ValidationMessageFor(model => model.GiaTu)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GiaDen)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GiaDen)
            @Html.ValidationMessageFor(model => model.GiaDen)
        </div>

        <p>
            <input type="submit" value="Tìm kiếm" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Quay Về Trang Sản Phẩm", "Index")
</div>
